.cart-header {
    height: 9.7vw;
    background: #fff;
    line-height: 9.7vw;
    text-align: center;
    font-size: 3.8vw;
    position: relative;
}

.cart-header a {
    display: inline-block;
    height: 9.7vw;
    line-height: 9.7vw;
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 3.3vw;
}

.carts, .transactions {
    background: #fff;
    padding: 10px;
    margin-top: 10px;
}

.cart-img {
    width: 30%;
    height: 28vw;
    overflow: hidden;
    margin-right: 3%;
}

.cart-content {
    width: 55%;
    position: relative;
}

.cart-content h3 {
    font-size: 3.6vw;
}

.cart-content p {
    padding-top: 10px;
}

.cart-content p span {
    color: red;
    padding-left: 4%;
}

.cart-content p i {
    padding: 0 2%;
}

.cart-content p em {
    float: right;
    color: #ccc;
}

.transactions span {
    float: right;
    color: red;
}

.submit {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 100;
    background: red;
    color: #ffffff;
    height: 28vw;
    width: 14px;
    font-size: 14px;
    line-height: 28vw;
    word-wrap: break-word;
    letter-spacing: 3vw;
    padding: 0 3vw;
    text-align: center;
}

.icon-queren-copy {
    color: red !important;
}

.checkbox {
    padding: 10vw 3vw;
}

.checkbox input {
    border: 1px red solid;
}

.pay {
    display: block;
    width: 80vw;
    height: 10vw;
    margin: 10vw auto;
    border: 1px #ccc solid;
    background: #fff;
    border-radius: 1.5vw;
}