.swiper-banner {
    width: 100vw;
}  
.swiper-nav{
	width: 100vw;
	padding: 10px 0;
	background: #fff;
}
.swiper-nav p{
	text-align: center;
}

.new-product,.active-product{
	padding: 10px 10px 0;
	background: #fff;
	margin: 10px 0;
}
.new-product .product{
	width: 100%;
	display: -webkit-flex;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
}
.new-product .pro-item{
	width: 49%;
	padding-bottom: 10px;
}

.pro-item p span{
	color: red;
}
.active-product .pro-item{
	border-bottom: 2px #f2f2f2 solid;
	padding-bottom: 10px;
}
.active-product .pro-item:last-child{
	border-bottom:none;
}