<<<<<<< HEAD
.swiper-banner {
    width: 100vw;
}

.swiper-nav {
    width: 100vw;
    padding: 10px 0;
    background: #fff;
}

.swiper-nav p {
    text-align: center;
}

.new-product, .active-product {
    padding: 10px 10px 0;
    background: #fff;
    margin: 10px 0;
}

.new-product .product {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-product .pro-item {
    width: 48%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px #f2f2f2 solid;
}

.product .pro-item h6 {
    height: 17vw;
    padding-top: 2vw;
    overflow: hidden;
}

.pro-item p span {
    color: red;
}

.active-product .pro-item {
    border-bottom: 2px #f2f2f2 solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

.active-product .pro-item:last-child {
    border-bottom: none;
}
.login{
    width: 22vw;
    height:8vw;
    background:#115286;
    position: fixed;
    right: 0;
    top:3vw;
    z-index: 10;
    line-height: 8vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    overflow: hidden;
}
.login a{
    float: left;
    width: 100%;
    height:100%;
    text-align: center;
    color: #fff;
    font-size: 3vw;
}
=======
.swiper-banner{width:100vw}.swiper-nav{padding:10px 0;width:100vw;background:#fff}.swiper-nav p{text-align:center}.active-product,.new-product{margin:10px 0;padding:10px 10px 0;background:#fff}.new-product .product{display:flex;width:100%;flex-wrap:wrap;justify-content:space-between}.new-product .pro-item{padding-top:10px;padding-bottom:10px;width:48%;border-bottom:2px solid #f2f2f2}.product .pro-item h6{overflow:hidden;padding-top:2vw;height:17vw}.pro-item p span{color:red}.active-product .pro-item{padding-top:10px;padding-bottom:10px;border-bottom:2px solid #f2f2f2}.active-product .pro-item:last-child{border-bottom:none}.login{position:fixed;top:3vw;right:0;z-index:10;overflow:hidden;width:22vw;height:8vw;border-bottom-left-radius:2vw;border-top-left-radius:2vw;background:#115286;line-height:8vw}.login a{float:left;width:100%;height:100%;color:#fff;text-align:center;font-size:3vw}
>>>>>>> 0d178cb7376b6af5cf8e710821f0c73f251624ba
