<<<<<<< HEAD
.swiper-nav {
    background: #fff;
    font-size: 4.3vw;
    text-align: center;
    padding: 10px 0;
}

.product {
    margin-top: 1vw;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.pro-item {
    padding: 1.5vw 1vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50vw;
    background: #fff;
    border: 0.5vw #f2f2f2 solid;
}

.pro-item span {
    color: red;
}

.pro-item h6 {
    height: 17vw;
    padding-top: 2vw;
    overflow: hidden;
}

.pro-img {
    height: 47vw;
    width: 100%;
    overflow: hidden;
}
=======
.swiper-nav{padding:10px 0;background:#fff;text-align:center;font-size:4.3vw}.product{display:flex;display:-webkit-flex;margin-top:1vw;flex-wrap:wrap;justify-content:space-between;align-items:flex-start}.pro-item{box-sizing:border-box;padding:1.5vw 1vw;width:50vw;border:.5vw solid #f2f2f2;background:#fff}.pro-item span{color:red}.pro-item h6{overflow:hidden;padding-top:2vw;height:17vw}.pro-img{overflow:hidden;width:100%;height:47vw}
>>>>>>> 0d178cb7376b6af5cf8e710821f0c73f251624ba
