.swiper-nav{
	background: #fff;
	font-size: 4.3vw;
	text-align: center;
	padding:10px 0;
}
.swiper-active{
	color: red
}
.product{
	padding:0 10px;
	margin-top: 10px;
	display: flex;
	display: -webkit-flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
	align-items:flex-start;
}
.pro-item{
	background: #fff;
	border: 0.5vw #f2f2f2 solid;
}
.pro-item span{
	color: red;
}