<<<<<<< HEAD
body, div, ul, ol, li, p, i, em, h1, h2, h3, h4, a, strong, span, img, form, input, textarea, button{
	padding: 0;
	margin:0;
}
body{
	font-family:"Microsoft YaHei";
	font-size: 14px;
	line-height: 24px;
}

input, textarea{
	outline: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
img{
	border: 0;
}
.pr{
	position: relative;
}
.pa{
	position: absolute;
}
.pf{
	position: fixed;
}
.f-l{
	float: left;
}
.f-r{
	float: right;
}
li, div, ul{
	*zoom:1;
}
li:after, div:after, ul:after{
	content: '';
	display: table;
	clear: both;
}
.tran{
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
/*--------------样式重置------------*/
/***********/

.login-banner{
	width: 100%;
	background: url(../images/login.jpg) center bottom no-repeat \9;
	background: url(../images/login.jpg) center bottom/cover no-repeat;
}
@media screen and (min-width: 320px) {
    .login-banner{
    	height: 100px;
    }
}
@media screen and (min-width: 480px) {
    .login-banner{
    	height: 120px;
    }
}
@media screen and (min-width: 640px) {
    .login-banner{
    	height: 160px;
    }
}
@media screen and (min-width: 768px) {
    .login-banner{
    	height: 180px;
    }
}
@media screen and (min-width: 1024px) {
    .login-banner{
    	height: 200px;
    }
}
@media screen and (min-width: 1280px) {
    .login-banner{
    	height: 220px;
    }
}
@media screen and (min-width: 1366px) {
    .login-banner{
    	height: 240px;
    }
}
@media screen and (min-width: 1680px) {
    .login-banner{
    	height: 260px;
    }
}
.login-banner{
	height: 260px \9;
}
.login-box{
	width: 320px;
	margin:0 auto;
	overflow-x: hidden;
}
.box-con{
	width: 1600px;
}
.login-con{
	width: 300px;
	margin:0 10px; 
}
.login-box .form-group{
	margin-top: 20px;
}

.login-box input, .signup-form{
	width: 300px;
	height:50px;
	line-height: 48px \9;
	padding-left: 10px;
	border: 1px #d9d9d9 solid;
	border-radius: 5px;
	font-size: 14px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
}
.login-box input:focus{
	border-color: #115286;
	box-shadow: 0 0 15px #115286;
	-webkit-box-shadow: 0 0 15px #115286;
	-moz-box-shadow: 0 0 15px #115286;
}
.login-box button{
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border: 0;
	background-color: #115286;
	color: #fff;
	border-radius: 5px;
}
.login-box button a{
	display: block;
}
.login-box button a:hover{
	padding-top: 3px;
}
.login-box button:hover{
	background-color: #0096da;
}
.from-line{
	height: 0;
	overflow: hidden;
	border-top: 1px #c2c2c2 solid;
	margin-top: 20px;
}
.a-tag{
	position: relative;
	display: block;
	height: 48px;
	border: 1px #c2c2c2 solid;
	text-align: center;
	line-height: 48px;
	color: #c2c2c2;
	border-radius: 5px;
	background-color: #fff;
}
.blue-border{
	border:1px #115286 solid;
	color: #115286;
}

.a-tag:hover{
	background-color: #aaa;
	color: #fff;
}
.blue-border:hover{
	background-color: #115286;
	color: #fff;
}
.a-tag i{
	position: absolute;
	right: 20px;
	top: 0;
	font-size: 24px;
	color: #fff;
}
.a-tag:hover i{
	right: 10px;
}
.signup, .other-way, .mimachongzhi, .mobile-success{
	width: 300px;
	margin: 0 10px;
}


.signup-form {
	margin-top: 20px;
}
.signup-form input{
	border: 0;
	height: 48px;
	width: 220px;
}
.signup-form input:focus{
	box-shadow:0 0 0 #fff;
}
.signup-form.border{
	border-color: #115286;
	box-shadow: 0 0 15px #115286;
	-webkit-box-shadow: 0 0 15px #115286;
	-moz-box-shadow: 0 0 15px #115286;
}
.signup-form a{
	color: #115286;
}
.view-clause{
	padding-top: 20px;
	line-height: 14px;
	text-align: center;
	color: #808080;
}
.view-clause a{
	color: #115286;
}
.view-clause a:hover{
	text-decoration: underline;
}
a.reacquire{
	color: #c1c1c1;
}
.error-notic{
	color: #ff4e00;
	display: none;
}
.login-footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	border-top: 1px #c1c1c1 solid;
	text-align: center;
	font-size: 12px;
	background-color: #fff;
	line-height: 20px;
}
.login-footer h1{
	font-size: 18px;
	font-weight: normal;
}
.login-nav{
	width: 100%;
	height: 30px;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	border-bottom: 1px #c1c1c1 solid;
}
.login-nav ul{
	padding-right: 50px;
}
.login-nav li{
	float: left;
	line-height: 30px;
	padding: 0 10px;
}
.login-nav a:hover{
	text-decoration: underline;
	color: #115286;
}
.mobile-success{
	padding-top: 20px;
}
.mobile-success p{
	text-align: center;
	color: #666;
}
.mobile-success p span{
	font-weight: bold;
	padding: 0 10px;
}
.mobile-success p a{
	color: #115286;
	padding-left: 5px;
}
.mobile-success p a:hover{
	text-decoration: underline;
}
.loading{
	position: absolute;
	top: 10px;
	right: 20px;
	display: none;

}
=======
a,body,button,div,em,form,h1,h2,h3,h4,i,img,input,li,ol,p,span,strong,textarea,ul{margin:0;padding:0}body{font-size:14px;font-family:Microsoft YaHei;line-height:24px}input,textarea{outline:0}li{list-style:none}a{color:inherit;text-decoration:none}img{border:0}.pr{position:relative}.pa{position:absolute}.pf{position:fixed}.f-l{float:left}.f-r{float:right}div:after,li:after,ul:after{clear:both;display:table;content:''}.tran{-webkit-transition:all .3s ease-out;transition:all .3s ease-out}.container{margin:0 auto;width:750pt}.login-banner{width:100%;background:url(../images/login.jpg) center bottom no-repeat\9;background:url(../images/login.jpg) center bottom/cover no-repeat}@media screen and (min-width:320px){.login-banner{height:75pt}}@media screen and (min-width:480px){.login-banner{height:90pt}}@media screen and (min-width:640px){.login-banner{height:10pc}}@media screen and (min-width:768px){.login-banner{height:180px}}@media screen and (min-width:1024px){.login-banner{height:200px}}@media screen and (min-width:1280px){.login-banner{height:220px}}@media screen and (min-width:1366px){.login-banner{height:15pc}}@media screen and (min-width:1680px){.login-banner{height:260px}}.login-banner{height:260px\9}.login-box{overflow-x:hidden;margin:0 auto;width:20pc}.box-con{width:100pc}.login-con{margin:0 10px;width:300px}.login-box .form-group{margin-top:20px}.login-box input,.signup-form{box-sizing:border-box;padding-left:10px;width:300px;height:50px;border:1px solid #d9d9d9;border-radius:5px;font-size:14px;line-height:3pc\9;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}.login-box input:focus{border-color:#115286;box-shadow:0 0 15px #115286}.login-box button{width:300px;height:50px;border:0;border-radius:5px;background-color:#115286;color:#fff;font-size:1pc;line-height:50px}.login-box button a{display:block}.login-box button a:hover{padding-top:3px}.login-box button:hover{background-color:#0096da}.from-line{overflow:hidden;margin-top:20px;height:0;border-top:1px solid #c2c2c2}.a-tag{position:relative;display:block;height:3pc;border:1px solid #c2c2c2;border-radius:5px;background-color:#fff;color:#c2c2c2;text-align:center;line-height:3pc}.blue-border{border:1px solid #115286;color:#115286}.a-tag:hover{background-color:#aaa;color:#fff}.blue-border:hover{background-color:#115286;color:#fff}.a-tag i{position:absolute;top:0;right:20px;color:#fff;font-size:24px}.a-tag:hover i{right:10px}.mimachongzhi,.mobile-success,.other-way,.signup{margin:0 10px;width:300px}.signup-form{margin-top:20px}.signup-form input{width:220px;height:3pc;border:0}.signup-form input:focus{box-shadow:0 0 0 #fff}.signup-form.border{border-color:#115286;box-shadow:0 0 15px #115286}.signup-form a{color:#115286}.view-clause{padding-top:20px;color:grey;text-align:center;line-height:14px}.view-clause a{color:#115286}.view-clause a:hover{text-decoration:underline}a.reacquire{color:#c1c1c1}.error-notic{display:none;color:#ff4e00}.login-footer{position:fixed;bottom:0;left:0;padding:10px 0;width:100%;border-top:1px solid #c1c1c1;background-color:#fff;text-align:center;font-size:9pt;line-height:20px}.login-footer h1{font-weight:400;font-size:18px}.login-nav{width:100%;height:30px;border-bottom:1px solid #c1c1c1;background-color:rgba(0,0,0,.7);color:#fff}.login-nav ul{padding-right:50px}.login-nav li{float:left;padding:0 10px;line-height:30px}.login-nav a:hover{color:#115286;text-decoration:underline}.mobile-success{padding-top:20px}.mobile-success p{color:#666;text-align:center}.mobile-success p span{padding:0 10px;font-weight:700}.mobile-success p a{padding-left:5px;color:#115286}.mobile-success p a:hover{text-decoration:underline}.loading{position:absolute;top:10px;right:20px;display:none}
>>>>>>> 0d178cb7376b6af5cf8e710821f0c73f251624ba
