<<<<<<< HEAD
.address-header {
    height: 9.7vw;
    background: #fff;
    line-height: 9.7vw;
    text-align: center;
    font-size: 3.8vw;
    position: relative;
}

.address-header a {
    display: inline-block;
    height: 9.7vw;
    line-height: 9.7vw;
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 3.3vw;
}

.address {
    background: #fff;
    padding: 1vw;
    margin-top: 1vw;
}

.address i {
    padding-right: 2vw;
}

.address p {
    padding: 0.5vw 0;
}

.commdity {
    width: 98vw;
    height: 30vw;
    padding: 1vw;
    background: #fff;
    margin-top: 2vw;
    overflow: hidden;
}

.commdity div {
    float: left;
}

.commdity img {
    max-height: 30vw;
}

.commdity .c_img {
    width: 30vw;
}

.commdity .c_info {
    width: 64vw;
    padding: 2vw;
    height: 86%;
    position: relative;
}

.commdity .c_info h6 {
    padding: 3.5vw 0;
}

.commdity .c_info p {
    position: absolute;
    bottom: 2vw;
    left: 2vw;
}

.c_info i {
    font-size: 3vw;
    padding-right: 2vw;
}

.price {
    color: red;
}

.sum {
    padding: 2vw;
    background: #fff;
    margin-top: 2vw;
    text-align: right;
}

.pay {
    display: block;
    width: 80vw;
    height: 10vw;
    margin: 10vw auto;
    border: 1px #ccc solid;
    background: #fff;
    border-radius: 1.5vw;
}

.add_address {
    padding: 2vw 0;
    text-align: center;
}
=======
.address-header{position:relative;height:9.7vw;background:#fff;text-align:center;font-size:3.8vw;line-height:9.7vw}.address-header a{position:absolute;top:0;left:10px;display:inline-block;height:9.7vw;font-size:3.3vw;line-height:9.7vw}.address{margin-top:1vw;padding:1vw;background:#fff}.address i{padding-right:2vw}.address p{padding:.5vw 0}.commdity{overflow:hidden;margin-top:2vw;padding:1vw;width:98vw;height:30vw;background:#fff}.commdity div{float:left}.commdity img{max-height:30vw}.commdity .c_img{width:30vw}.commdity .c_info{position:relative;padding:2vw;width:64vw;height:86%}.commdity .c_info h6{padding:3.5vw 0}.commdity .c_info p{position:absolute;bottom:2vw;left:2vw}.c_info i{padding-right:2vw;font-size:3vw}.price{color:red}.sum{margin-top:2vw;padding:2vw;text-align:right}.pay,.sum{background:#fff}.pay{display:block;margin:10vw auto;width:80vw;height:10vw;border:1px solid #ccc;border-radius:1.5vw}.add_address{padding:2vw 0;text-align:center}
>>>>>>> 0d178cb7376b6af5cf8e710821f0c73f251624ba
