<<<<<<< HEAD
html,body{
	height: 100%;
}
.nav{
	float: left;
	width: 15%;
	height: 100%;
	font-size: 16px;
	background: #333;
}
.nav li{
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.nav a{
	color: #fff;
}
.content{
	float: left;
	width: 85%;
}
=======
.nav,body,html{height:100%}.nav{float:left;width:15%;background:#333;font-size:1pc}.nav li{height:40px;text-align:center;line-height:40px}.nav a{color:#fff}.content{float:left;width:85%}
>>>>>>> 0d178cb7376b6af5cf8e710821f0c73f251624ba
